
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li>
            <a href="#">О проекте</a>
          </li>
          <li>
            <a href="#">Прейскурант</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li>
            <a href="#">Рейтинг</a>
          </li>
          <li>
            <a href="#">Правила</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-phone"> +7(863)221-46-93</i> 
          </li>
          <li>
            <a href="#"><i class="fa fa-envelope"> preved@domowoi.com</i></a>
          </li>
          <li>В соцсетях: <a href="#"><i class="fa fa-vk fa-lg"></i></a> <a href="#"><i class="fa fa-facebook fa-lg"></i></a> <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled">
          <li>
            <img class="ntrjpqkzhfuchztmqesa xfiklgiveqtmelnqwvlz lnplvnpubvxdgftipsmu tbnddonqnitetwsyteoj wpzjskckjpxxtnijywbg cpeezzwkbtlknorkkoaz tbpzqnnejeufidbmkawq bkxvsigeepqacthqzdgh fzriptnponfjrbfuqfzq hoknzeimboemcwzzptvf" src="http://counter.yadro.ru/hit?t14.1;rhttp%3A//www.liveinternet.ru/rating/ru/realty/;s1366*768*24;uhttp%3A//www.cian.ru/;0.23339581051479796">
          </li>
          <li>
            <a class="small" href="#"><i class="fa fa-sitemap"></i> карта сайта</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12">&copy; 2007–2014 Электронная база недвижимости. Приложения для
        <a href="#"><i class="fa fa-apple fa-lg"></i></a> и <a href="#"><i class="fa fa-android fa-lg"></i></a> 
      </div>
    </div>
  </div>
</div>
<hr>
