.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button" 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      p.pull-left
        a.navbar-brand href="/" 
          i.fa.fa-database.fa-lg
          | multilisting.su
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right style=("padding-left: 15px") 
        p.nav.navbar-text
          i.fa.fa-key
          = link_to 'Регистрация', new_user_registration_path, class: 'navbar-link'
        li.dropdown.nav
          = link_to_sign_in
          .modal.fade.bs-example-modal-sm aria-hidden="true" aria-labelledby="mySmallModalLabel" role="dialog" tabindex="-1" 
            .modal-dialog.modal-sm
              .modal-content style=("padding: 25px; min-width: 320px;") 
                = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                  = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'mail@example.com', required: true
                  = f.password_field :password, autocomplete: "off", class: 'form-control', required: true, placeholder: "********"
                  = f.label :remember_me, class: 'checkbox' do
                    = f.check_box :remember_me, checked: true
                    | запомнить меня
                  = f.button class: 'btn btn-primary' do
                    i.fa.fa-sign-in
                    | Войти
                span
                  | \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  a href="#" 
                    small
                      i.fa.fa-refresh
                      | \&nbsp;cбросить пароль
                br
                  p
                    b зайти с помощью:
                  script src="//ulogin.ru/js/ulogin.js" 
                  #uLogin data-ulogin="display=small;fields=first_name,last_name;providers=vkontakte,odnoklassniki,mailru,google,yandex,twitter,facebook;hidden=other;redirect_uri=http%3A%2F%2F" 
      ul.nav.navbar-nav.navbar-left
        li
          a href="#" 
            i.fa.fa-plus.fa-lg
            | Добавить
        li
          a href="#" 
            i.fa.fa-book.fa-lg
            | Блокнот

