// Place all the styles related to the Common controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-content {
  margin-top: 50px;
}

.sign-in-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
